* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    
}

:placeholder {
    font-style: italic;
    letter-spacing: 0.08em;
}

#container {
    background: linear-gradient(to bottom right, rgba(245,245,245,0.9) ,rgba(245,245,245,1)), url('https://images.pexels.com/photos/911738/pexels-photo-911738.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    padding: 2em;
}
.form-box {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 10vh;
}
#container .form-box > * {
    background: white;
    width: 100%;
    border-radius: 0.25em;
}
#searchbox {
    width: 100%;
    height: auto;
    position: relative;
}
#container #span-filter {
    display: inline-block;
    width: 100%;
}
input {
    display: inline-block;
    width: 90%;
    line-height: 40px;
    padding-left: 0.7em;
    border: none;
    border-radius: 4px;
}
#span-search {
    position: relative;
    height: auto;
}
#span-search i {
    width: 10%;
    text-align: center;
    display: inline-block;
    padding: 0.5em;
    border-left: 1px solid #f2f2f2;
    /*float: right;*/
}
#container .form-box ul {
    position: absolute;
    width: 100%;
    max-width: 700px;
    max-height: 250px;
    height: 0;
    z-index: 99;
    overflow: auto;
    box-shadow: 0 3px 5px gainsboro;
    transition: 0.3s ease-in-out;
}
#container .form-box ul li {
    display: block;
    background: white;
    padding-left: 1em;
    line-height: 40px;
    border-bottom: 0.5px solid #f2f2f2;
}
#container .form-box ul li:hover {
    background: linear-gradient(to right, #3a1c71, #d76d77, #ffaf7b);
    color: white;
    cursor: pointer;
    border-left: 10px solid #3a1c71;
    box-shadow: 0 3px 10px gainsboro;
    border-bottom: none;
    transition: 0.5s;
}
#container .form-box #clientBox {
    height: 40px;
    line-height: 40px;
    margin-top: 4em;
    padding-left: 1em;
}
#container .form-box #detailsBox {
    min-height: 400px;
    max-height: 1200px;
    overflow: auto;
    margin-top: 1em;
    line-height: 1.8em;
    padding: 3.2em 1em 3em;
    position: relative;
    z-index: 1;
}
#container .form-box #save {
    display: none;
    height: 40px;
    margin-top: 1em;
    border: none;
    background: linear-gradient(to right, #8e2de2,#4a00e0);
    color: white;
    font-size: 1em;
    box-shadow: 0 2px 5px gray;
    letter-spacing: 0.04em;
    
}
button {
    outline: none;
}
button:hover, #span-search i:hover {
    cursor: pointer;
}
:focus {
    outline: none;
    box-shadow: 0px 5px 17px -6px rgba(57,56,56,0.75);
    -webkit-box-shadow: 0px 5px 17px -6px rgba(57,56,56,0.75);
    -moz-box-shadow: 0px 5px 17px -6px rgba(57,56,56,0.75);
}
.shadow {
    box-shadow: 0px 5px 17px -6px rgba(57,56,56,0.75);
    -webkit-box-shadow: 0px 5px 17px -6px rgba(57,56,56,0.75);
    -moz-box-shadow: 0px 5px 17px -6px rgba(57,56,56,0.75);
}
#details {
    position: relative;
    z-index: 1;
}
#filterBox:focus {
    box-shadow: none;
}
#update:disable {
    background: #f2f2f2;
}
#add-new {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #56ab2f;
    color: white;
    position: fixed;
    bottom: 1em; right: 1em;
    border: none;
    z-index: 99;
    border-radius: 100%;
    box-shadow: 0 0 10px #ccc;
    font-size: 1em;
}
#toolbox {
    background: white;
    width: 100%;
    padding: 1em;
    position: absolute;
    z-index: 7;
    left: 0;
    bottom: 0;
    font-size: 1em;
}

#close {
    display: none;
    color: lightgrey;
    position: absolute;
    z-index: 7;
    right: 1.8em;
    top: 12px;
}
#close:hover, #delete:hover, #edit:hover {
    color: black;
    cursor: pointer;
}

#delete {
    display: none;
    color: lightgrey;
    float: right;
}
#edit {
    display: none;
    color: lightgrey;
}